<form action="api/products/" method="post" class="col-12 col-md-4">

	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Title product</label>
		<input type="text" class="form-control" name="title" />
	</div>

	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Model</label>
		<input type="text" class="form-control" name="model" />
	</div>

	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Brand</label>
		<div class="input-group">
			<button class="btn btn-outline-secondary" type="button">Button</button>
			<select
				class="form-select"
				id="inputGroupSelect03"
				aria-label="Example select with button addon"
				name="brand"
			>
				<option selected> Choose brand </option>
				<option value="lenovo">Lenovo</option>
				<option value="hp">HP</option>
				<option value="asus">Asus</option>
			</select>
		</div>
	</div>

	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Type</label>
		<select
			class="form-select"
			id="inputGroupSelect03"
			aria-label="Example select with button addon"
			name="type"
		>
			<option selected> Choose brand </option>
			<option value="components">Components</option>
			<option value="hardware">Hardware</option>
			<option value="software">Software</option>
		</select>
	</div>

	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Category</label>
		<select
			class="form-select"
			id="inputGroupSelect03"
			aria-label="Example select with button addon"
			name="category"
		>
			<option selected> Choose brand </option>
			<option value="notebooks">Notebooks</option>
			<option value="storage">Storage</option>
			<option value="memory">Memory</option>
		</select>
	</div>

	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Price</label>
		<input type="number" class="form-control" name="price" />
	</div>

	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Stock</label>
		<input type="number" class="form-control" name="stock" />
	</div>

	<button class="btn btn-outline-primary" type="reset">Reset</button>
	<button class="btn btn-primary" type="submit">submit</button>
</form>