<main class="container grid grid-cols-12 auto-rows-min gap-y-4 mx-auto py-4 px-3 gap-x-4 md:gap-x-8 md:border">
  <div class="col-span-12 h-12 flex flex-wrap justify-between items-center border-b">
    <h3 class="text-2xl font-bold text-gray-900">{{data.title}}</h3>
  </div>

  <section class="col-span-12 md:col-span-4">
    {{#with data}}
    <form id="addProduct" action="edit/{{parseString _id}}" method="post">
      {{> input type="text" label="Title" defaultValue=title}}
      {{> input type="text" label="Brand" defaultValue=brand }}
      {{! para brand se va a usar un input con dropdown}}
      {{> textarea label="Description" }}
      {{> inputBtn type="number" label="Price" symbol="$" defaultValue=price}}
      {{> input type="number" label="Stock" defaultValue=stock }}
      {{> select label="Type" defaultValue=type defaultValue=type }}
      {{> input type="text" label="Category" defaultValue=category }}
      {{> input type="text" label="Picture" defaultValue=picture}}
      {{! para picture se usara la opcion de input type file}}

      <div class="flex flex-wrap justify-end mt-4">
        {{> btnOutline label="Reset" type="reset" color="blue" }}
        {{> btn label="Edit product" type="submit" color="blue" }}
      </div>
    </form>
    {{/with}}

  </section>

  <section class="col-span-12 md:col-span-8 h-full">

  </section>

</main>