{{> form }}

<div class="col-12 col-md-8">

  {{# each games}}
  <div class="card my-2 px-3 py-2">
    <div class="row align-items-center">
      <div class="col-2">
        <img src={{picture}} alt={{title}}>
      </div>
      <p class="col-4">{{title}}</p>
      <p class="col-3 text-muted">{{brand}}</p>
    </div>
  </div>

  {{/ each}}

</div>