<h1>Hola mundo</h1>

{{!-- {{#each result}}
	{{eachJson result}}
{{/each}} --}}

{{#each first}}
	<h2>{{first}} </h2>
{{/each}}

<p>
	{{first.title}}
</p>

{{#if error}}

	<p>Error en algo</p>

{{/if}}