<div class="my-2">
  <label class="block mb-2 text-md font-medium text-gray-900">
    {{label}}
  </label>
  <input type={{type}} name={{toLowerCase label}}
    class="block px-2 py-1 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500"
    value="{{defaultValue}}" />
</div>