.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 64px auto 40px;
  min-height: 100vh;
}

.main-content {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
